<section class="hero py-16 pl-12">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Are you hungry?</em></h6>
            <h1 class="text-3xl md:text-6xl font-bold">Don't wait !</h1>
            <h6 class="text-lg"><em>Order your favourite food now..</em></h6>
            <a href="/menu"><button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order
                    Now</button></a>
        </div>
        <div class="w-1/2">
            <img class="w-4/5" src="/img/food.png" alt="">
        </div>
    </div>
</section>
<!-- ====== Contact Section Start -->
<section class="contact">
    <h3 class="text-blue-500 text-lg text-center mb-4 mt-12">Contact US</h3>
    <h1 class="font-bold text-2xl text-center">GET IN TOUCH WITH US</h1>
    <div class="flex items-center justify-center">
        <div class="px-8 py-6 mx-4 mt-12 mb-12 text-left bg-white rounded-3xl shadow-2xl md:w-1/2 lg:w-1/2 sm:w-1/2">
            <form action="/" method="post">
                <div class="mt-4">
                    <div class="mt-4">
                        <label class="block" for="name">Name<label>
                                <input name="name" type="text" placeholder="Your Name"
                                    class="w-full px-4 py-2 mt-2 border border border-solid border-blue-700 rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                    </div>
                    <div class="mt-4">
                        <label class="block">Email<label>
                                <input name="email" type="email" placeholder="Your Email"
                                    class="w-full px-4 py-2 mt-2 border border border-solid border-blue-700 rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                    </div>
                    <div class="mt-4">
                        <label class="block">Phone<label>
                                <input name="phone" type="text" placeholder="Your Phone"
                                    class="w-full px-4 py-2 mt-2 border border border-solid border-blue-700 rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                    </div>
                    <div class="mt-4">
                        <label class="block">Message<label>
                                <textarea name="message" class="w-full px-4 py-2 mt-2 border border border-solid border-blue-700 rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" cols="30" rows="6"></textarea>
                                <!-- <input name="email" type="password" placeholder="Your Email"
                                    class="w-full px-4 py-2 mt-2 border border border-solid border-blue-700 rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"> -->
                    </div>
                    <div class="flex">
                        <button type="submit" class="login-button w-full px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ====== Contact Section End -->