<section class="orders light-section mx-16">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4 underline">All orders</h1>
        <table class="w-full table-auto border text-center">
            <thead class="border-b bg-gray-800">
              <tr>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4 border-r">
                  Orders
                </th>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4 border-r">
                  Customer
                </th>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4 border-r">
                  Address
                </th>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4 border-r">
                  Status
                </th>
                <th scope="col" class="text-sm font-medium text-white px-6 py-4 border-r">
                  Placed at
                </th>
              </tr>
            </thead>
            <tbody id="orderTableBody">
            </tbody>
          </table>
    </div>
</section>